body, html{
    margin:0;
    padding:0;
    background-color: #f2f2f2;
    width: 320x;
}

h2 {
    color: rgba(28,110,164,0.69);
}

.center_wrap {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 5px grey;
    /* padding: 0 0 0 5px; */
    padding: 5px;
}

/* Search Box 240---------------*/
/* #dictionarySelector240:hover
{
    background:url(../image/lang-hover.png) no-repeat;
}

#search-btn240:hover
{
    background:url(../image/search-hover.png)!important;
}
#search-btn240:active
{
    background:url(../image/search-active.png)!important;
}

#oxford_seachbox
{
    width:240px; height: 80px; border-color: #000; border-width:1; background:url('../image/widget240.png') no-repeat
}

#oxford_oldform
{
    display:inline-block;margin:40px 0 0 10px;
} */

/* Search Box 320---------------*/
#dictionarySelector320:hover
{
    background:url(../image/lang-hover.png) no-repeat;
} 
#btn_oxford_search:hover{
    background:url(../image/search-hover.png)!important;
} 

#btn_oxford_search:active
{
    background:url(../image/search-active.png)!important;
}

#oxford_seachbox
{
    width:320px; height: 80px; border-color: #000; border-width:1; background:url('../image/widget320.png') no-repeat
}

#oxford_oldform
{
    display:inline-block;margin:40px 0 0 10px;
}

.wl-table 
{
    width: 100%;
    text-indent: 5px;
    /* margin-top: 10px; */
    /* margin-bottom: 12px; */
    /* border: 1px solid #cccccc; */
    /* border-collapse: separate; */
}

tr:first-child 
{
    background: #00123c;
    color: white;
    /* text-align: center; */
    
}

/* tr:hover 
{
    background-color: #f5f5f5;
} */

tr:nth-child(even) {background-color: #f2f2f2;}
