* {
  margin: 0;
  padding: 0em;
  user-select: none;
}

*:focus {
  outline: none;
}

body {
  width: 300px;
  border-radius: 3px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ebf3f3;
  font-size: 13px;
}

select#selectDictionary {
  color: #fff;
  background-color: #314089;
  outline: none;
  border: none;
  width: 100%;
  font-size: 13px;
  display: block;
  padding: 8px 14px;
}

select#selectDictionary>option {
  padding: 8px 14px;
}

.section-input {
  padding-bottom: 2px;
}

.section-input .input-wrapper {
  position: relative;
}

.input-wrapper>input {
  box-sizing: border-box;
  font-size: 15px;
  display: block;
  width: 100%;
  padding: 7px 0px 7px 8px;
  border-radius: 4px;
  border: 1px solid #324288;
  color: #000;
}

.input-wrapper>button {
  position: absolute;
  width: fit-content;
  height: 100%;
  width: 38px;
  top: 0;
  right: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #324288;
  border-left: none;
  background-color: #fff;
  cursor: pointer;
  background-image: url(../image/search_icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#tableWrapper {
  display: block;
  border: 0.3px solid #dddddd8c;
  overflow: hidden;
}

#historyTable {
  width: 100%;
  border-collapse: collapse;
}

#historyTable td, #historyTable th {
  border: 1px solid #ddd;
  padding: 4px;
  font-size: 12px;
}

#historyTable td {
  width: 60% !important;
}

#historyTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#historyTable tr:hover {
  background-color: #ddd;
}

#historyTable tr:hover td:nth-child(1) span {
  color: #3569d6;
}

#historyTable th {
  text-align: left;
  background-color: #00BCD4;
  color: white;
  font-weight: normal;
  font-family: monospace;
  font-size: 13px;
  font-style: italic;
  padding-left: 8px;
}

#historyTable td span {
  cursor: pointer;
}

#historyTable td:nth-child(2) span {
  background-image: url(../image/delete_icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  width: 17px;
  height: 15px;
  margin-right: 5px;
}

#historyTable td:nth-child(2) span.btnCopy {
  background-image: url(../image/copy_icon.png);
}

#historyTable td:nth-child(1) {
  cursor: pointer;
}

#historyTable td:nth-child(1) span {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.infomation {
  text-align: center;
  padding: 2px 0;
}

.infomation>a {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.infomation>a.about {
  background-image: url(../image/about_icon.png);
}

.infomation>a.settings {
  background-image: url(../image/settings_icon.png);
}

.infomation>a.home {
  background-image: url(../image/home_icon.png);
}

/* scrollbar */

::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #e6e6e6;
}

/* toggle switch */

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 16px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(18px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

.contentWrapper {
  padding: 4px;
}

.tabcontent {
  display: none;
}

.setting-item {
  font-family: monospace;
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  background: #fff;
  margin: 6px;
  padding: 10px 8px;
  border-radius: 8px;
}

/* #settingsWrapper {
} */

.helper {
  background: #fff;
  margin: 6px;
  padding: 6px 8px;
  border-radius: 8px;
  user-select: inherit;
}

.helper h4 {
  font-family: monospace;
  font-weight: 600;
  font-size: 11px;
}

.helper p {
  font-size: 11px;
  color: #9E9E9E;
  padding: 5px 0px;
  user-select: text;
}